*.exe
input.txt
output.txt
*.json
# Allow .cpp files in the current directory
!*.cpp
anstest.cpp
CodingTest/
codingTestJavaBook/out
codingTestJavaBook/.idea
codingTestJavaBook/codingTestJavaBook.iml
codingTestJavaBook/SolutionTemplate.java
cotestudy.iml
.idea/
.vscode/!/codingTestJavaBook/.idea/
!/codingTestJavaBook/out/production/codingTestJavaBook/
!/codingTestJavaBook/codingTestJavaBook.iml
!/codingTestJavaBook/SolutionTemplate.java
!/codingTestJavaBook/codingTestJavaBook.iml
!/codingTestJavaBook/SolutionTemplate.java
