
*.exe
input.txt
output.txt
*.json
# Allow .cpp files in the current directory
!*.cpp
anstest.cpp
CodingTest/
codintTestJavaBook/out/
codintTestJavaBook/.idea/
codintTestJavaBook/codingTestJavaBook.iml
codintTestJavaBook/SolutionTemplate.java
cotestudy.iml
.idea/
.vscode/