*.exe
input.txt
output.txt
*.json
!*.cpp
anstest.cpp
CodingTest/
cotestudy.iml
.idea/
.vscode/!/codingTestJavaBook/.idea/
!/codingTestJavaBook/out/
!/codingTestJavaBook/codingTestJavaBook.iml
codingTestJavaBook/SolutionTemplate.java
!/codingTestJavaBook/out/production/codingTestJavaBook/
